
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #f8f9fe;
}

table {
    border-collapse: collapse;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.table tbody+tbody {
    border-top: 2px solid #e9ecef;
}

.table .table {
    background-color: #f8f9fe;
}

.table-sm th,
.table-sm td {
    padding: 0.5rem;
}

.table-bordered {
    border: 1px solid #e9ecef;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #e9ecef;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: #f6f9fc;
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #d2d8f7;
}

.table-hover .table-primary:hover {
    background-color: #bcc5f3;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #bcc5f3;
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
    background-color: #fdfefe;
}

.table-hover .table-secondary:hover {
    background-color: #ecf6f6;
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #ecf6f6;
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #c4f1de;
}

.table-hover .table-success:hover {
    background-color: #afecd2;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #afecd2;
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #bcf1fb;
}

.table-hover .table-info:hover {
    background-color: #a4ecfa;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #a4ecfa;
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #fed3ca;
}

.table-hover .table-warning:hover {
    background-color: #febeb1;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #febeb1;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #fcc7d1;
}

.table-hover .table-danger:hover {
    background-color: #fbafbd;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #fbafbd;
}

.table-light,
.table-light>th,
.table-light>td {
    background-color: #e8eaed;
}

.table-hover .table-light:hover {
    background-color: #dadde2;
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #dadde2;
}

.table-dark,
.table-dark>th,
.table-dark>td {
    background-color: #c1c2c3;
}

.table-hover .table-dark:hover {
    background-color: #b4b5b6;
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b4b5b6;
}

.table-default,
.table-default>th,
.table-default>td {
    background-color: #bec4cd;
}

.table-hover .table-default:hover {
    background-color: #b0b7c2;
}

.table-hover .table-default:hover>td,
.table-hover .table-default:hover>th {
    background-color: #b0b7c2;
}

.table-white,
.table-white>th,
.table-white>td {
    background-color: white;
}

.table-hover .table-white:hover {
    background-color: #f2f2f2;
}

.table-hover .table-white:hover>td,
.table-hover .table-white:hover>th {
    background-color: #f2f2f2;
}

.table-neutral,
.table-neutral>th,
.table-neutral>td {
    background-color: white;
}

.table-hover .table-neutral:hover {
    background-color: #f2f2f2;
}

.table-hover .table-neutral:hover>td,
.table-hover .table-neutral:hover>th {
    background-color: #f2f2f2;
}

.table-darker,
.table-darker>th,
.table-darker>td {
    background-color: #b8b8b8;
}

.table-hover .table-darker:hover {
    background-color: #ababab;
}

.table-hover .table-darker:hover>td,
.table-hover .table-darker:hover>th {
    background-color: #ababab;
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: #f6f9fc;
}

.table-hover .table-active:hover {
    background-color: #e3ecf6;
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: #e3ecf6;
}

.table .thead-dark th {
    color: #f8f9fe;
    background-color: #172b4d;
    border-color: #1f3a68;
}

.table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
    border-color: #e9ecef;
}

.table-dark {
    color: #f8f9fe;
    background-color: #172b4d;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #1f3a68;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-sm>.table-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-md>.table-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-lg>.table-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive-xl>.table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive>.table-bordered {
    border: 0;
}

.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.msgBox {
    display: none;
}


.msgBox {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(40, 53, 70, 0.8);
	z-index: 2000000;
	display: none;
}

.msgBox .innerbox {
	width: 380px;
	min-height: 160px;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin: 0 auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: #363636;
}

.msgBox .innerbox .topSide {
	display: block;
	width: 100%;
	height: 105px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 65px;
	background-image: url('../img/icon/warning.svg');
}

.msgBox.success .innerbox .topSide {
	background-image: url('../img/icon/success.svg');
}

.msgBox .innerbox .bottomSide {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	padding: 0 20px 20px;
}

.msgBox .innerbox .btns {
	width: 100%;
	display: block;
	padding: 0 10px;
	margin-bottom: 10px;
}

.msgBox .innerbox .btns .btn {
	width: 140px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.15);
	font-size: 14px;
	padding: 5px 25px 7px 5px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	background-position: 90% center;
	background-repeat: no-repeat;
	background-size: 16px;
}

.msgBox .innerbox .btns .btn.cancelBtn {
	float: left;
	background-size: 13px;
	background-image: url('../img/icon/cancel.svg');
}

.msgBox .innerbox .btns .btn.confirmBtn {
	background-image: url('../img/icon/confirm.svg');
}

.msgBox .innerbox .btns .btn:hover {
	background-color: rgba(255, 255, 255, 0.22);
}

.msgBox .innerbox .exit {
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 200;
	position: absolute;
	top: 0;
	opacity: 0.85;
	filter: alpha(opacity=85);
	right: 0;
	background-repeat: no-repeat;
	background-size: 27px;
	background-position: center;
	background-image: url('../img/icon/close-white.svg');
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.msgBox .innerbox .exit:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.modal_box {
	position: fixed;
    /*max-height: calc(100vh - 210px);*/
    overflow-y: auto;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(40, 53, 70, 0.8);
	z-index: 2000000;
	display: none;
}

.modal_box .innerbox {
    min-width: 300px;
    max-width: 60%;
    position: absolute;
    padding: 10px;
	top: 50%;
	right: 0;
	left: 0;
	margin: 0 auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: #e1e1e1;
}


.modal_box .innerbox .exit {
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    top: 15px;
    opacity: 0.95;
    filter: alpha(opacity=95);
    right: -15px;
    background-color: #363636;
    border: 2px solid #e1e1e1;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    background-image: url('../img/icon/close-white.svg');
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.modal_box .innerbox .exit:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.modal_box .innerbox .main_text {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.modal_box .innerbox .title {
    width: 100%;
    font-weight: 600;
    text-align: center;
    display: block;
    padding: 8px;
    top: 20%;
    background-color: #6672e5;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.modal_box .innerbox .mohtava {
    padding: 10px;
    position: relative;
	min-height: 550px;
}

#box_loading {
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    padding-top: 45px;
    top: 0px;
    right: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;-ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

#box_loading #loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}

#box_loading #loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
    -moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

#box_loading .box_object {
	width: 20px;
	height: 20px;
	background-color: #f0c600;
	position: absolute;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	-webkit-animation: animate 0.8s infinite;
	animation: animate 0.8s infinite;
}

#box_loading #box_object_one {
	top: 19px;
	left: 19px;
}

#box_loading #box_object_two {
	top: 0px;
	left: 65px;
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#box_loading #box_object_three {
	top: 19px;
	left: 111px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#box_loading #box_object_four {
	top: 65px;
	left: 130px;
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#box_loading #box_object_five {
	top: 111px;
	left: 111px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#box_loading #box_object_six {
	top: 130px;
	left: 65px;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#box_loading #box_object_seven {
	top: 111px;
	left: 19px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#box_loading #box_object_eight {
	top: 65px;
	left: 0px;
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}


#loading {
    background-color: rgba(17, 17, 17, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000001;
    margin-top: 0px;
    top: 0px;
    display: none;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 150px;
    margin-top: -25px;
    margin-left: -75px;
}

.object {
    width: 8px;
    height: 50px;
    margin-right: 5px;
    background-color: #00A0B0;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}

.object:last-child {
    margin-right: 0px;
}

.object:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.object:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes animate {
    50% {
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes animate {
    50% {
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}


.menu {
    list-style: none;
}

.menu .menuItem {
    display: inline;
    margin: 5px 15px;
}

.menu .menuItem a {
    text-decoration: none;
}
